@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/*font-family: 'Roboto', sans-serif;*/
.link-item{
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
}
.link-item:hover{
    border-bottom: 1px solid red;
}