.path-container{
    background-color: #000000;
    height: 50px;
    color: white;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}
.game-name{
    color: #a3a3a3;
    font-size: 14px;
    padding: 5px;
}
.home-link{
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    padding: 5px;
}