@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.search-container{
    
    border: 1px solid #ffffff;
    height: 35px;
    border-radius: 10px;
    color: #fcfcfc;
    font-family: 'Roboto', sans-serif;
    width: 250px;
}
.search-input{
    height: 30px;
    color: #fcfcfc;
    font-size: 11px;
    background-color: #24252b;
    border: none;
    margin-left: 5px;
    position: relative;
    top: -10%;
}
.search-input:focus{
    outline: none;
    border: none;
}
.search-input::placeholder{
    color: #fcfcfc;
    opacity: 0.5;

}

.search-results{
    height: 350px;
    width: 250px;
    background-color: #24262C;
    z-index: 5;
    position: relative;
    top: 5px;
    overflow: auto;
    overflow-x: hidden;
}
.clear-button{
    color: red;
    position: relative;
    left: -50px;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
/* ::-webkit-scrollbar-thumb {
    background: #FF0000;
} */

.search-icon{
    position: relative;
    height: 25px;
    width: 25px;
    left: 25%;
    top: 15%;
    display: inline-block;

}